# 数据导入

In [1]:
import pandas as pd
import numpy as np
from fbprophet import Prophet
import matplotlib.pyplot as plt

import os
os.chdir(r'\HCP_HP01-13_pre_result')############adjust
data=pd.read_excel('HCP-HP02.xlsx',dtype='str')
data=data.dropna()
data=data[['date','sum_xy']]
data['date']=pd.to_datetime(data['date'])
data['sum_xy']=pd.to_numeric(data['sum_xy'])
data

           date        sum_xy
1    2017-03-14      0.852536
2    2017-03-15      1.607626
3    2017-03-16      3.638666
4    2017-03-17      8.265377
5    2017-03-18     10.731331
...         ...           ...
1078 2020-02-24  23027.130190
1079 2020-02-25  23027.251524
1080 2020-02-26  23028.221489
1081 2020-02-27  23029.179458
1082 2020-02-28  23030.341392

[1082 rows x 2 columns]

# 累计位移预测_data_sum

## 数据筛选

In [17]:
data_sum=data

## 按照prophet格式更改数据名称,data_dis

In [18]:
data_sum=data_sum.rename(columns={"sum_xy":"y", "date":"ds"})

## 训练集dataf

In [19]:
dataf = data_sum[0:len(data_sum)-round(1*7)]

## prophet拟合 训练集dataf

In [221]:
model = Prophet(n_changepoints=145,#default=25
                changepoint_range=0.9,#default=0.8
                yearly_seasonality=True,weekly_seasonality=True,changepoint_prior_scale=0.5,interval_width=0.95)

model.fit(dataf)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

##  预测后7天的数据

In [222]:
future = model.make_future_dataframe(periods = round(1*7), freq = "1D")
forecast = model.predict(future)
forecast.tail(7).T

,1075,1076,1077,1078,1079,1080,1081
ds,2020-02-22 00:00:00,2020-02-23 00:00:00,2020-02-24 00:00:00,2020-02-25 00:00:00,2020-02-26 00:00:00,2020-02-27 00:00:00,2020-02-28 00:00:00
trend,23200.8,23214.7,23228.6,23242.5,23256.3,23270.2,23284.1
yhat_lower,22874.5,22901.7,22891.4,22890.4,22886.9,22883,22877.7
yhat_upper,23160.7,23159.3,23165.8,23172.9,23190.3,23172.6,23212.6
trend_lower,23197.5,23201.3,23204.8,23199.6,23201.2,23199.3,23193.1
trend_upper,23204.3,23229,23259.1,23295.6,23329.4,23365,23405.9
additive_terms,-180.053,-188.339,-200.027,-215.616,-224.674,-238.288,-250.116
additive_terms_lower,-180.053,-188.339,-200.027,-215.616,-224.674,-238.288,-250.116
additive_terms_upper,-180.053,-188.339,-200.027,-215.616,-224.674,-238.288,-250.116
weekly,-1.48974,2.41379,2.64831,-1.27428,1.09654,-1.30073,-2.0939
weekly_lower,-1.48974,2.41379,2.64831,-1.27428,1.09654,-1.30073,-2.0939
weekly_upper,-1.48974,2.41379,2.64831,-1.27428,1.09654,-1.30073,-2.0939
yearly,-178.563,-190.753,-202.676,-214.342,-225.77,-236.987,-248.022
yearly_lower,-178.563,-190.753,-202.676,-214.342,-225.77,-236.987,-248.022
yearly_upper,-178.563,-190.753,-202.676,-214.342,-225.77,-236.987,-248.022
multiplicative_terms,0,0,0,0,0,0,0
multiplicative_terms_lower,0,0,0,0,0,0,0
multiplicative_terms_upper,0,0,0,0,0,0,0
yhat,23020.8,23026.4,23028.6,23026.8,23031.7,23031.9,23034

## 计算error

In [227]:
def mean_absolute_percentage_error(y_true, y_pred):
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100
error = mean_absolute_percentage_error(data_sum.y[-round(1*7)*1:].values,
                                       forecast.yhat[-round(1*7)*1:].values)
print(error)

0.009617009396646992

In [229]:
from sklearn import metrics
metrics.r2_score(data_sum.y[-round(1*7)*1:].values,forecast.yhat[-round(1*7)*1:].values)
metrics.mean_absolute_error(data_sum.y[-round(1*7)*1:].values,forecast.yhat[-round(1*7)*1:].values)

2.2145892170462633

## 数据导出

In [232]:
import os
os.chdir(r'\Prophet')############adjust

forecast_all=forecast.merge(data[['date','sum_xy']],how='left',left_on='ds',right_on='date')
forecast_all.to_csv('prophet_HP02.csv',index=False)